.contact {
    background-color: var(--bgColor2);
    padding-bottom: 70px;
    @include transition-ease;

    &-container {
        margin: 0 auto;
        h5 {
            @include transition-ease;
            font-size: 20px;
            color: var(--contactTitleColor);
        }

        .center-content {
            p{
                @include transition-ease;
                color: var(--contactBriefColor);
            }
        }
        
        &-content {
            margin-top: 30px;
            display: flex;
            flex-direction: column;

            a {
                color: inherit;

                &:hover {
                    color: inherit;
                }
            }

            .contact-content__type {
                position: relative;
                margin: 20px 0;
                @include transition-ease;

                &::before {
                    content: '';
                    position: absolute;
                    width: 0px;
                    height: 3px;
                    left: calc(50% - 70px);
                    top: 60px;
                    background-color: var(--primaryColor);
                    @include transition-ease;
                }
                &:hover {
                    cursor: pointer;

                    i {
                        transform: scale(1.1);
                        -webkit-animation-name: shake; /* Chrome, Safari, Opera */
                        -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
                        -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
                        animation-name: shake;
                        animation-duration: 2s;
                        animation-direction: alternate;
                    }
                    p {
                        font-size: 15px;
                    }
                    &::before {
                        width: 150px;
                    }
                }

                i {
                    font-size: 30px;
                    color: var(--secondaryColor);
                    @include transition-ease;
                }
                p{
                    @include transition-ease;
                }
            }

        }
    }
}

@include media-md {
    .contact {
        &-container {
            h5 {
                font-size: 25px;
            }
        }
    }
}