@keyframes updown {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(10px);
    }
}

@keyframes blink_one {
    from {
        width: 40%;
        height: 100%;
        top: 0;
        left: calc(50% - 20%);
    }
    to {
        width: 48%;
        height: 116%;
        top: -8%;
        left: calc(50% - 24%);
    }
}

@keyframes blink_two {
    from {
        width: 40%;
        height: 100%;
        top: 0;
        left: calc(50% - 20%);
    }
    to {
        width: 44%;
        height: 108%;
        top: -4%;
        left: calc(50% - 22%);
    }
}

@keyframes blink_one_desktop {
    from {top: calc(50% - 150px);
        width: 300px;
        height: 300px;
        left: calc(50% - 150px);
    }
    to {
        top: calc(50% - 175px);
        width: 350px;
        height: 350px;
        left: calc(50% - 175px);
    }
}

@keyframes blink_two_desktop {
    from {top: calc(50% - 150px);
        width: 300px;
        height: 300px;
        left: calc(50% - 150px);
    }
    to {
        top: calc(50% - 162.5px);
        width: 325px;
        height: 325px;
        left: calc(50% - 162.5px);
    }
}

.enter_from_left {
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    transition-delay: 0.5s;
    transform: translateX(0) !important;
    opacity: 1 !important;

    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
}

.enter_from_right_one {
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    transition-delay: 0.5s;
    transform: translateX(0) !important;
    opacity: 0.1 !important;
}

.enter_from_right_two {
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    transition-delay: 0.5s;
    transform: translateX(0) !important;
    opacity: 0.2 !important;
}

.enter_from_right_image {
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    transition-delay: 0.5s;
    transform: translateX(0) !important;
    opacity: 1 !important;
}

.home {
    padding-top: 50px;
    padding-bottom: 80px;
    width: 100%;
    height: 100%;
    background: var(--homeBg);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
    // transform: skewY(4deg);
    @include transition-ease;
    background-size: cover;
    color: var(--textColor1);

    &-column {
        // transform: skewY(-4deg);
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90%;
        margin-bottom: -20px;

        // NEW CSS
        margin: 0 auto;
        //END NEW CSS
        

        &__about {
            padding-left: 20px;
            padding-right: 20px;
            height: 40%;
            transform: translateX(-100%);
            opacity: 0;

            &-hello {
                margin-top: 20px;
                display: flex;
                width: 30%;
                justify-content: space-between;
                // background-color: grey;

                div.hello {
                    // width: 20%;
                    padding: 7px 7px;
                    height: 40%;
                    background-color: var(--green);
                    border-top-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    text-align: center;
                    font-weight: 600;
                    letter-spacing: 1px;
                }

                img {
                    width: 30%;

                }
            }
            
            h4 {
                color: var(--textColor2);
                font-size: 1.3rem;
                margin-top: 20px;
                font-family: 'Courier New', Courier, monospace;
                font-weight:600 ;
            }
            p.skill {
                margin-top: -10px;

                span {
                    @include transition-ease;
                    color: var(--primaryColor);
                    font-weight: 1000;
                }
            }
            p.bio {
                margin-top: -10px;
                margin-bottom: 5%;
            }
            a.btn {
                @include transition-ease;
                background-color: var(--primaryColor);
                color: var(--textColor3);
                border: 0;
                padding:  10px 15px;
                box-shadow: 0px 1px 10px rgb(39, 39, 39);

                &:hover {
                    @include transition-ease;
                    background-color: inherit;
                    border: 1px solid var(--primaryColor);
                }
                &:active {
                    border: 1px solid var(--primaryColor);
                }
            }
        }

        &__profile {
            width: 100%;
            text-align: center;
            padding-top: 25%;
           

            &-image {
                position: relative;
                width: 100%;
                height: 100%;
                z-index: 2;

                img {
                    width: 40%;
                    border-radius: 50%;
                    z-index: 2;
                    position: relative;
                    transform: translateX(20vw);
                    opacity: 0;
                    @include transition-ease;
                    // filter: brightness(80%);

                    // &:hover {
                    //     filter: brightness(100%);
                    // }
                }
                &__one {
                    position: absolute;
                    width: 40%;
                    height: 100%;
                    top: 0;
                    left: calc(50% - 20%);
                    background-color: var(--darkGray);
                    border-radius: 50%;
                    z-index: 2;
                    opacity: 0;
                    // transform: translateX(20vw);

                    -webkit-animation-name: blink_one; /* Chrome, Safari, Opera */
                    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
                    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
                    -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
                    -webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
                    animation-name: blink_one;
                    animation-duration: 2s;
                    animation-iteration-count: infinite;
                    animation-direction: alternate;
                    animation-delay: 1s;
                }
                &__two {
                    position: absolute;
                    width: 40%;
                    height: 100%;
                    top: 0;
                    left: calc(50% - 20%);
                    background-color: var(--lightGray);
                    border-radius: 50%;
                    z-index: 2;
                    opacity: 0;

                    -webkit-animation-name: blink_two; /* Chrome, Safari, Opera */
                    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
                    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
                    -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
                    animation-name: blink_two;
                    animation-duration: 2s;
                    animation-iteration-count: infinite;
                    animation-direction: alternate;
                    animation-delay: 1s;
                }
            }
            
        }
    }

    &__down-arrow {
        a {
            color: var(--primaryColor);

            &:visited, &:hover, &:active {
                color: var(--primaryColor);
            }
        }
        i {
            @include transition-ease;
            -webkit-animation-name: updown; /* Chrome, Safari, Opera */
            -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
            -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
            -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
            
            animation-name: updown;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-direction: alternate;

            &:hover {
                font-size: 20px;
            }
        }
    }
}
@include media-sm {
    .home {
        &-column {

            &__profile {
                margin-top: -40px;
            }
        }
    }
}

@include media-md {
    .home {
        padding: 150px 0 100px 0;
        &-column {
            flex-direction: row;
            width: 100%;

            &__about {
                // New CSS
                width: 50%;
                // End New CSS
                &-hello {
                    margin-bottom: 50px;
                }
                h4 {
                    font-size: 24px;
                }
                p.skill span {
                    font-size: 22px;
                }
                p.bio{
                    margin-bottom: 50px;
                }
                a.btn {
                    padding: 16px;
                    font-weight: 1000;
                }
            }

            &__profile {
                margin: 0;
                padding: 0; 
                
                // New CSS
                width: 50%;
                // End New CSS
               
                &-image {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: 300px;
                        height: 300px;
                    }

                    &__one {
                        top: calc(50% - 150px);
                        width: 300px;
                        height: 300px;
                        left: calc(50% - 150px);
                        animation-name: blink_one_desktop;
                    }
                    &__two {
                        top: calc(50% - 150px);
                        width: 300px;
                        height: 300px;
                        left: calc(50% - 150px);
                        animation-name: blink_two_desktop;
                    }
                }
            }
        }
        &__down-arrow {
            margin-top: 20px
        }
    }
}

@include media-lg {
    .home {
        padding: 120px 0 90px 0;
        &-column {

            &__about {
                padding-right: 20%;
                h4 {
                    font-size: 27px;
                }
                p.skill{
                    font-size: 18px;
                    span {
                        font-size: 22px;
                    }
                } 
                p.bio {
                    margin-bottom: 50px;
                }
                a.btn {
                    padding: 16px;
                    font-weight: 1000;
                }
            }
        }
        &__down-arrow {
            margin-top: 80px
        }
    }
}

@media (max-width: 450px) {
    .home {
        &-column {
            &__profile {
                margin-top: -30px;
            }
        }
    }
}