.services {
    background-color: var(--servicesBgColor);
    @include transition-ease;

    &-container {
        overflow: hidden;
        margin: 0 auto;

        &__do {
            font-size: 20px;
            color: var(--servicesBriefColor);
            margin-top: 40px;
            @include transition-ease;
        }

        &__content {
            @include transition-ease;
            
            .services-card {
                background-color: var(--servicesCardBgColor);
                opacity: 0;
                transform: translateX(-100vw);
                margin-bottom: 15px;
                // @include transition-ease;

                &.show-content {
                    transition-duration: 1s;
                    opacity: 1;
                    transform: translateX(0);

                    .service-title {
                        color: var(--servicesCardTitleColor);
                        @include transition-ease;
                    }

                    p {
                        @include transition-ease;
                        color: var(--servicesCardParagraphColor)
                    }
                }

                .image {  
                    margin-bottom: 5%;
                    img {
                        width: 60%;
                        height: 150px;
                    }
                }

                h5 {
                    color: var(--secondaryColor);
                    font-size: 19px;
                }

                ul {
                    padding: 0 30px;
                }
            }
        }
    }
}

@include media-md {
    .services {
        &-container {

            &__title {
                font-size: 25px;
            }

            &__body {
                display: flex;
                justify-content: center;
            }
    
            &__content {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .services-card {
                    width: 30%;
                }
            }
        }
    }
}

@for $i from 1 through 3 {
    .services-card.show-content:nth-child(#{$i}) {
        transition-delay: ( $i * 0.3s) + 0.15s !important;
    }
}
